<div class=" user-section animate__animated animate__fadeIn my-5">
  <div class=" px-4 mt-4">
    <!-- Account page navigation-->
    <nav class="nav nav-borders">
        <a class="nav-link active ms-0"  target="__blank">Profile</a>
        <a class="nav-link" href="" target="__blank">Security</a>
    </nav>
    <hr class="mt-0 mb-4">
          <form   method="post" [formGroup]="userForm" (ngSubmit)='SubmitUserInfo()'>

    <div class="row">


        <div class="col-xl-4">
            <!-- Profile picture card-->
            <div class="card mb-4 mb-xl-0">
                <div class="card-header">Profile Picture</div>
                <div class="card-body text-center">
                    <!-- Profile picture image-->
                    <img class="img-account-profile rounded-circle mb-2" [src]="imageData " alt="">

                    <!-- Profile picture help block-->
                    <div class="small font-italic text-muted mb-4">JPG or PNG no larger than 5 MB</div>
                    <!-- Profile picture upload button-->
               <input type="file" class="file-upload "  (change)='onFileSelect($event)' #fileUpload >

              
                </div>
            </div>
        </div>
        <div class="col-xl-8">
            <!-- Account details card-->
            <div class="card mb-4">
                <div class="card-header">Account Details</div>
                <div class="card-body">
                   
                        <!-- Form Group (username)-->
                        <div class="mb-3">
                            <label class="small mb-1" for="inputUsername">Username (how your name will appear to other users on the site)</label>
                            <input class="form-control" id="inputUsername" formControlName='username'type="text" placeholder="Enter your username" >
                        </div>
                                       <!-- Form Group (email address)-->
                                       <div class="mb-3">
                                        <label class="small mb-1" for="inputEmailAddress">Email address</label>
                                        <input class="form-control" formControlName='email' id="inputEmailAddress" type="email" placeholder="Enter your email address" >
                                    </div>
                        <!-- Form Row        -->
                        <div class="row gx-3 mb-3">
                            <!-- Form Group (organization name)-->
                            <div class="col-md-6">
                                <label class="small mb-1" for="inputOrgName">Organization name</label>
                                <input class="form-control" id="inputOrgName" type="text" placeholder="Enter your organization name" value="Universal U key Services" disabled >
                            </div>
                            <!-- Form Group (location)-->
                            <div class="col-md-6">
                                <label class="small mb-1" for="inputLocation">Location</label>
                                <input class="form-control" id="inputLocation" type="text" placeholder="Enter your location"  value="6 ,12 Busia Sapele St" disabled>
                            </div>
                        </div>
     
                        <!-- Form Row-->
                        <div class="row gx-3 mb-3">
                            <!-- Form Group (phone number)-->
                            <div class="col-md-6">
                                <label class="small mb-1" for="inputPhone">Phone number</label>
                                <input class="form-control" formControlName='phone' id="inputPhone" type="tel" placeholder="Enter your phone number" >
                            </div>
                            <!-- Form Group (birthday)-->
                            <div class="col-md-6">
                                <label class="small mb-1" for="inputposition">Position</label>
                                <input class="form-control" formControlName='position' id="inputposition" type="text" name="birthday" placeholder="Enter your position" >
                            </div>
                        </div>

                            <!-- Form Row-->
                            <div class="row gx-3 mb-3">
                              <!-- Form Group (first name)-->
                              <div class="col-md-6">
                                  <label class="small mb-1" for="password">Password</label>
                                  <input class="form-control" formControlName='password' id="password" type="text" placeholder="Enter your password" >
                              </div>
                              <!-- Form Group (last name)-->
                              <div class="col-md-6">
                                  <label class="small mb-1" for="password">Confirm Password</label>
                                  <input class="form-control" formControlName='cpassword' id="password" type="text" placeholder="Enter your confirm password">
                              </div>
                          </div>
                        <!-- Save changes button-->
                        <button type="submit" class="btn btn-primary" >Save </button>


                   
                </div>
            </div>
        </div>
         
    </div>
</form>
</div>



<!-- User table -->
    <div class="container  py-3">
      <div class="row mb-4">
        <div class="col-lg-5 mx-auto">
        </div>
      </div>
      <div class="col-lg-12 col-sm-12 col-md-12">
      

        <div class="row">
            <div class="col-12">
              <div class="card mb-4">
                <div class="card-header pb-0">
                  <div class="row mb-2">
                    <div class="col-md-4">
                      <i class="fa fa-align-justify float-start px-1"></i>
        
                    </div>
                    <div class="col-md-4 mx-auto text-center "> 
                      User Information
                    </div>
                    <div class="col-md-4">
                 
        
                    </div>
                  </div>
                </div>
                <div class="card-body px-0 pt-0 pb-2">
                  <div class="table-responsive p-0">
                    <table class="table align-items-center mb-0">
                      <thead>
                        <tr>
                          <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Users</th>
                          <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7 ps-2">Function</th>
                          <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Contact</th>
                          <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Employed</th>
                          <th class="text-secondary opacity-7"></th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr *ngFor="let user of UserList">
                          <td>
                            <div class="d-flex px-2 py-1">
                              <div>
                                <img [src]="user.image" class="avatar avatar-sm me-3" alt="user1">
                              </div>
                              <div class="d-flex flex-column justify-content-center">
                                <h6 class="mb-0 text-sm">{{user.username}}</h6>
                                <p class="text-xs text-secondary mb-0">{{user.email}}</p>
                              </div>
                            </div>
                          </td>
                          <td>
                            <p class="text-xs font-weight-bold mb-0">{{user.position}}</p>
                            <p class="text-xs text-secondary mb-0">Universal u Key Services</p>
                          </td>
                          <td class="align-middle text-center text-sm">
                               {{user.phone}}                          </td>
                          <td class="align-middle text-center">
                            <span class="text-secondary text-xs font-weight-bold">{{user.Date | date}}</span>
                          </td>
                          <td class="align-middle">
                           
                              <a class="mx-2"data-bs-toggle="modal" data-bs-target="#editUser" (click)='getUserbyid(user.id)'><i class="fa fa-edit"></i></a>
                              <a (click)='deleteUser(user.id)'><i class="fa fa-trash-o" ></i></a>
                           
                          </td>
                        </tr>
                    
                      </tbody>
                    </table>
                  </div>
                </div>
              </div>
            </div>
          </div>
      </div>
    </div>
  
  
  
  </div>  

 

  
    <!-- Edit User -->
    <div class="modal fade" id="editUser" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Edit User</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" (click)='clearform()'></button>
          </div>
          <div class="modal-body">
            <form action="" enctype="multipart/form-data" method="post" [formGroup]="EditUserForm" (ngSubmit)='UpdateUser()'>
             <!-- Profile picture card-->
             <div class="card mb-4 mb-xl-0">
              <div class="card-header">Profile Picture</div>
              <div class="card-body text-center">
                  <!-- Profile picture image-->
                  <img class="img-account-profile rounded-circle mb-2" [src]="imageData " alt="">

                  <!-- Profile picture help block-->
                  <div class="small font-italic text-muted mb-4">JPG or PNG no larger than 5 MB</div>
                  <!-- Profile picture upload button-->
             <input type="file" class="file-upload "  (change)='onFileSelect($event)' #fileUpload >

            
              </div>
          </div>
              <!-- Account details card-->
            <div class="card my-4">
              <div class="card-header">Account Details</div>
              <div class="card-body">
                 
                      <!-- Form Group (username)-->
                      <div class="mb-3">
                          <label class="small mb-1" for="inputUsername">Username </label>
                          <input class="form-control" id="inputUsername" formControlName='username'type="text" placeholder="Enter your username" >
                      </div>
                                     <!-- Form Group (email address)-->
                                     <div class="mb-3">
                                      <label class="small mb-1" for="inputEmailAddress">Email address</label>
                                      <input class="form-control" formControlName='email' id="inputEmailAddress" type="email" placeholder="Enter your email address" >
                                  </div>
                      <!-- Form Row        -->
                      <div class="row gx-3 mb-3">
                          <!-- Form Group (organization name)-->
                          <div class="col-md-6">
                              <label class="small mb-1" for="inputOrgName">Organization name</label>
                              <input class="form-control" id="inputOrgName" type="text" placeholder="Enter your organization name" value="Universal U key Services" disabled >
                          </div>
                          <!-- Form Group (location)-->
                          <div class="col-md-6">
                              <label class="small mb-1" for="inputLocation">Location</label>
                              <input class="form-control" id="inputLocation" type="text" placeholder="Enter your location"  value="6 ,12 Busia Sapele St" disabled>
                          </div>
                      </div>
   
                      <!-- Form Row-->
                      <div class="row gx-3 mb-3">
                          <!-- Form Group (phone number)-->
                          <div class="col-md-6">
                              <label class="small mb-1" for="inputPhone">Phone number</label>
                              <input class="form-control" formControlName='phone' id="inputPhone" type="tel" placeholder="Enter your phone number" >
                          </div>
                          <!-- Form Group (birthday)-->
                          <div class="col-md-6">
                              <label class="small mb-1" for="inputposition">Position</label>
                              <input class="form-control" formControlName='position' id="inputposition" type="text" name="birthday" placeholder="Enter your position" >
                          </div>
                          <div class=" mt-5 py-5">
                            <div class="row gx-3 mb-3 py-3">
                              <div class="jumbotron text-center">
                                <p>Forgotten password / Reset Password ?</p>
                                <button class="btn " type="button">Click here</button>
                              </div>
                            </div>
                            <div class="row">
                              <div class="col-lg-12">
                                  <!-- Change password card-->
                                  <div class="card mb-4">
                                      <div class="card-header">Change Password</div>
                                      <div class="card-body">
                                          <form>
                                              <!-- Form Group (current password)-->
                                              <div class="mb-3">
                                                  <label class="small mb-1" for="currentPassword">Current Password</label>
                                                  <input class="form-control" id="currentPassword" type="password" placeholder="Enter current password">
                                              </div>
                                              <!-- Form Group (new password)-->
                                              <div class="mb-3">
                                                  <label class="small mb-1" for="newPassword">New Password</label>
                                                  <input class="form-control" id="newPassword" type="password" placeholder="Enter new password">
                                              </div>
                                              <!-- Form Group (confirm password)-->
                                              <div class="mb-3">
                                                  <label class="small mb-1" for="confirmPassword">Confirm Password</label>
                                                  <input class="form-control" id="confirmPassword" type="password" placeholder="Confirm new password">
                                              </div>
                                              <button class="btn btn-primary" type="button">Save</button>
                                          </form>
                                      </div>
                                  </div>
                                  <!-- Security preferences card-->
                                  <div class="card mb-4">
                                      <div class="card-header">Security Preferences</div>
                                      <div class="card-body">
                                          <!-- Account privacy optinos-->
                                          <h5 class="mb-1">Account Privacy</h5>
                                          <p class="small text-muted">By setting your account to private, your profile information and posts will not be visible to users outside of your user groups.</p>
                                          <form>
                                              <div class="form-check">
                                                  <input class="form-check-input" id="radioPrivacy1" type="radio" name="radioPrivacy" checked="">
                                                  <label class="form-check-label" for="radioPrivacy1">Public (posts are available to all users)</label>
                                              </div>
                                              <div class="form-check">
                                                  <input class="form-check-input" id="radioPrivacy2" type="radio" name="radioPrivacy">
                                                  <label class="form-check-label" for="radioPrivacy2">Private (posts are available to only users in your groups)</label>
                                              </div>
                                          </form>
                                          <hr class="my-4">
                                          <!-- Data sharing options-->
                                          <h5 class="mb-1">Data Sharing</h5>
                                          <p class="small text-muted">Sharing usage data can help us to improve our products and better serve our users as they navigation through our application. When you agree to share usage data with us, crash reports and usage analytics will be automatically sent to our development team for investigation.</p>
                                          <form>
                                              <div class="form-check">
                                                  <input class="form-check-input" id="radioUsage1" type="radio" name="radioUsage" checked="">
                                                  <label class="form-check-label" for="radioUsage1">Yes, share data and crash reports with app developers</label>
                                              </div>
                                              <div class="form-check">
                                                  <input class="form-check-input" id="radioUsage2" type="radio" name="radioUsage">
                                                  <label class="form-check-label" for="radioUsage2">No, limit my data sharing with app developers</label>
                                              </div>
                                          </form>
                                      </div>
                                  </div>
                              </div>
                              <div class="col-lg-12">
                                  <!-- Two factor authentication card-->
                                  <div class="card mb-4">
                                      <div class="card-header">Two-Factor Authentication</div>
                                      <div class="card-body">
                                          <p>Add another level of security to your account by enabling two-factor authentication. We will send you a text message to verify your login attempts on unrecognized devices and browsers.</p>
                                          <form>
                                              <div class="form-check">
                                                  <input class="form-check-input" id="twoFactorOn" type="radio" name="twoFactor" checked="">
                                                  <label class="form-check-label" for="twoFactorOn">On</label>
                                              </div>
                                              <div class="form-check">
                                                  <input class="form-check-input" id="twoFactorOff" type="radio" name="twoFactor">
                                                  <label class="form-check-label" for="twoFactorOff">Off</label>
                                              </div>
                                              <div class="mt-3">
                                                  <label class="small mb-1" for="twoFactorSMS">SMS Number</label>
                                                  <input class="form-control" id="twoFactorSMS" type="tel" placeholder="Enter a phone number" value="555-123-4567">
                                              </div>
                                          </form>
                                      </div>
                                  </div>
                                  <!-- Delete account card-->
                                  <!-- <div class="card mb-4">
                                      <div class="card-header">Delete Account</div>
                                      <div class="card-body">
                                          <p>Deleting your account is a permanent action and cannot be undone. If you are sure you want to delete your account, select the button below.</p>
                                          <button class="btn btn-danger-soft text-danger" type="button">I understand, delete my account</button>
                                      </div>
                                  </div> -->
                              </div>
                          </div>
                      </div>
                     <div class="text-center">
                   <button  class="btn btn-light mt-5 w-50"  data-bs-dismiss="modal" aria-label="Close">Save Changes </button>

                     </div>

              </div>
          </div>
 
        
    <!-- Save changes button-->


  </div>


            </form>
          </div>
         
        </div>
      </div>
    </div>