body{
    margin-top:20px;
}

.card{
    margin: 0;
    padding: 0;
}
.img-thumbnail {
    padding: .25rem;
    background-color: #fff;
    border: 1px solid #dee2e6;
    border-radius: .25rem;
    max-width: 100%;
    height: auto;
}

.action-link {
    width: 30px;
    height: 30px;
    border: 1px solid #ddd;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #666;
    border-radius: 50%;
    transition: all 0.3s;
    font-size: 0.9rem;
}

.action-link:hover{
    background-color: goldenrod;
    color: white;
}

.bg-white{
    background-color:rgb(228, 228, 228)!important;
    width: 24%;
}
.bg-white:hover{
    background-color: rgb(245, 222, 179,0.5)!important;
}
.font{
      font-family: 'Comfortaa', cursive;
}
.imgPreview{
    position: relative;
    width: 100%;
    // margin-left: 10%;
    height: 150px;
    background-color: gray;
}

.fa-trash-o {
    color: red!important;
}


.fa-edit:hover {
    color: rgb(0, 0, 0,0.9)!important;
}

.fa-arrow-right{
    font-size: smaller;
}

.avatar{
    width: 200px;
    height: 98%;
    text-align: center;
}
.btn-color{
    font-family: 'Tajawal', sans-serif;
    background-color: goldenrod;
    color: white;
}



.action-btn{
    text-align: center;
    // line-height: 5px;
    background: transparent;
    transition: all 1s ease-in-out;
    opacity: 0;
    position: relative;
    top:-10px;
}

.action-btn ul{
    padding: 0;
    margin: 0;
}
.action-btn ul li{
display: inline-block;
list-style-type: none;
position: relative;
}
.action-btn ul li::after{
    content: '';
    position: absolute;
    top:5px ;
}

.action-btn ul li:first-child::after{
    display: none;
}


.action-btn ul li  {
   padding: 0 3px;
   color: #ccc; 
}

.cardb:hover .action-btn{
    opacity: 1;
    top: 0;
}

@media (max-width: 768px) {
    .bg-white{
        width: 98%;
    }
  


};


.display{
    // display:contents-;
}

body{margin-top:20px;
    background-color:#f2f6fc;
    color:#69707a;
    }
    .img-account-profile {
        height: 10rem;
    }
    .rounded-circle {
        border-radius: 50% !important;
    }
    .card {
        box-shadow: 0 0.15rem 1.75rem 0 rgb(33 40 50 / 15%);
    }
    .card .card-header {
        font-weight: 500;
    }
    .card-header:first-child {
        border-radius: 0.35rem 0.35rem 0 0;
    }
    .card-header {
        padding: 1rem 1.35rem;
        margin-bottom: 0;
        background-color: rgba(33, 40, 50, 0.03);
        border-bottom: 1px solid rgba(33, 40, 50, 0.125);
    }
    .form-control, .dataTable-input {
        display: block;
        width: 100%;
        padding: 0.875rem 1.125rem;
        font-size: 0.875rem;
        font-weight: 400;
        line-height: 1;
        color: #69707a;
        background-color: #fff;
        background-clip: padding-box;
        border: 1px solid #c5ccd6;
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
        border-radius: 0.35rem;
        transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
    }
    
    .nav-borders .nav-link.active {
        color: #0061f2;
        border-bottom-color: #0061f2;
    }
    .nav-borders .nav-link {
        color: #69707a;
        border-bottom-width: 0.125rem;
        border-bottom-style: solid;
        border-bottom-color: transparent;
        padding-top: 0.5rem;
        padding-bottom: 0.5rem;
        padding-left: 0;
        padding-right: 0;
        margin-left: 1rem;
        margin-right: 1rem;
    }


    .img-account-profile {
        height: 10rem;
    }
    .rounded-circle {
        border-radius: 50% !important;
    }
    .card {
        box-shadow: 0 0.15rem 1.75rem 0 rgb(33 40 50 / 15%);
    }
    .card .card-header {
        font-weight: 500;
    }
    .card-header:first-child {
        border-radius: 0.35rem 0.35rem 0 0;
    }
    .card-header {
        padding: 1rem 1.35rem;
        margin-bottom: 0;
        background-color: rgba(33, 40, 50, 0.03);
        border-bottom: 1px solid rgba(33, 40, 50, 0.125);
    }
    .form-control, .dataTable-input {
        display: block;
        width: 100%;
        padding: 0.875rem 1.125rem;
        font-size: 0.875rem;
        font-weight: 400;
        line-height: 1;
        color: #69707a;
        background-color: #fff;
        background-clip: padding-box;
        border: 1px solid #c5ccd6;
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
        border-radius: 0.35rem;
        transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
    }
    
    .nav-borders .nav-link.active {
        color: #0061f2;
        border-bottom-color: #0061f2;
    }
    .nav-borders .nav-link {
        color: #69707a;
        border-bottom-width: 0.125rem;
        border-bottom-style: solid;
        border-bottom-color: transparent;
        padding-top: 0.5rem;
        padding-bottom: 0.5rem;
        padding-left: 0;
        padding-right: 0;
        margin-left: 1rem;
        margin-right: 1rem;
    }
    
    .btn-danger-soft {
        color: #000;
        background-color: #f1e0e3;
        border-color: #f1e0e3;
    }