body{
    margin-top:20px;
}

.card{
    margin: 0;
    padding: 0;
}
.img-thumbnail {
    padding: .25rem;
    background-color: #fff;
    border: 1px solid #dee2e6;
    border-radius: .25rem;
    max-width: 100%;
    height: auto;
}

.action-link {
    width: 30px;
    height: 30px;
    border: 1px solid #ddd;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #666;
    border-radius: 50%;
    transition: all 0.3s;
    font-size: 0.9rem;
}

.action-link:hover{
    background-color: goldenrod;
    color: white;
}

.bg-white{
    background-color:rgb(228, 228, 228)!important;
    width: 24%;
}
.bg-white:hover{
    background-color: rgb(245, 222, 179,0.5)!important;
}
.font{
      font-family: 'Comfortaa', cursive;
}
.imgPreview{
    position: relative;
    width: 100%;
    // margin-left: 10%;
    height: 150px;
    background-color: gray;
}

.fa-trash:hover {
    color: red!important;
}


.fa-edit:hover {
    color: rgb(0, 0, 0,0.9)!important;
}

.fa-arrow-right{
    font-size: smaller;
}

.avatar{
    width: 200px;
    height: 98%;
    text-align: center;
}
.btn-color{
    font-family: 'Tajawal', sans-serif;
    background-color: goldenrod;
    color: white;
}



.action-btn{
    text-align: center;
    // line-height: 5px;
    background: transparent;
    transition: all 1s ease-in-out;
    opacity: 0;
    position: relative;
    top:-10px;
}

.action-btn ul{
    padding: 0;
    margin: 0;
}
.action-btn ul li{
display: inline-block;
list-style-type: none;
position: relative;
}
.action-btn ul li::after{
    content: '';
    position: absolute;
    top:5px ;
}

.action-btn ul li:first-child::after{
    display: none;
}


.action-btn ul li  {
   padding: 0 3px;
   color: #ccc; 
}

.cardb:hover .action-btn{
    opacity: 1;
    top: 0;
}

@media (max-width: 768px) {
    .bg-white{
        width: 98%;
    }
  


};