
<div class="animate__animated animate__fadeIn">

    <div class="label  text-secondary">
    <h3>About Us Section</h3>
  </div> 
  <div class="jumbotron text-center mt-4 bg-warning pt-5" *ngIf="AboutList.length===0">
    <div  class="display-5">Please what you do here </div>
    <button class="btn btn-light btn-lg my-5" data-bs-toggle="modal" data-bs-target="#About">Add Here </button>
  </div>
   <div class="row " *ngFor="let about of AboutList">
      <div class="col-md-6 col-lg-6 col-sm-12 pt-4 mb-2">
           <div class="imagePreview shadow-sm mb-4 PreviewHeight " >
            
                  <button class="btn btn-light rounded-0  ontop"  data-bs-toggle="modal" data-bs-target="#EditAbout" (click)="getAboutbyid(about.id)">
                      <i class="fa fa-edit"></i>
                  </button>
           
              <img src="{{about.image}}" />
            </div> 
    
      </div>
      <div class=" col-md-6 col-sm-12 text-center   pt-4">
  
          <div class="card d-flex  bg-gold PreviewHeight phoneHeight px-2">
            <h4>Who we are &amp; What we do?</h4>
  
          <div class="" [innerHTML]="about.description"></div>
  
          </div> 
        
   </div>
   </div>
   
  
  </div>
  


        <!-- Add About  -->
  
        <div class="modal fade" id="About" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">What we do</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" ></button>
              </div>
              <div class="modal-body">
             
        <form action="" method="post"[formGroup]='AboutForm' (ngSubmit)='onSubmit()' > 
                
          <div class="row">
              <div class="col-md-12 col-sm-12 pt-4 mb-2">
                  <div class="imagePreview previewSize shadow-sm rounded mb-4" >
                      <img [src]="imagePreview" />
                    </div>
            <div class="form-group">
                <input type="file" class="file-upload"  (change)="onFileSelected($event)" #fileUpload>
              </div>
              </div>
              <div class="col-md-12 col-sm-12 text-center  px-3 ">
                <div class="row  ">
               <div class=" px-2 pt-4 mb-2" >
                <quill-editor formControlName="description" [styles]="{height: '200px'}" 
                [modules]="modules">
                </quill-editor>
      
          </div>
            <button class="btn btn-block btn-dark mt-4 rounded-0"  type="submit"  data-bs-dismiss="modal" aria-label="Close">
              <div class="spinner-border spinner-border-sm text-warning"><span class="sr-only">loading...</span></div><span style="color: goldenrod;">Submit</span> 
            </button>
          
              </div>
          
           </div>
           </div>
          
                
           
          </form>
              </div>
             
            </div>
          </div>
        </div>
  
        <!-- Edit About  -->
  
  <div class="modal fade" id="EditAbout" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">What we do</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" ></button>
        </div>
        <div class="modal-body">
       
  <form action="" method="post"[formGroup]='EditAboutForm' (ngSubmit)='updateAbout()' > 
          
    <div class="row">
        <div class="col-md-12 col-sm-12 pt-4 mb-2">
            <div class="imagePreview previewSize shadow-sm rounded mb-4" >
                <img [src]="imagePreview" />
              </div>
      <div class="form-group">
          <input type="file" class="file-upload"  (change)="onFileSelected($event)" #fileUpload>
        </div>
        </div>
        <div class="col-md-12 col-sm-12 text-center  px-3 ">
          <div class="row  ">
         <div class=" px-2 pt-4 mb-2" >
          <quill-editor formControlName="description" [styles]="{height: '200px'}" 
          [modules]="modules">
          </quill-editor>

    </div>
      <button class="btn btn-block btn-dark mt-4 rounded-0"  type="submit"  data-bs-dismiss="modal" aria-label="Close">
        <div class="spinner-border spinner-border-sm text-warning"><span class="sr-only">loading...</span></div><span style="color: goldenrod;">Submit</span> 
      </button>
    
        </div>
    
     </div>
     </div>
    
          
     
    </form>
        </div>
       
      </div>
    </div>
  </div>