<div class="animate__animated animate__fadeIn">
    <section class="content inbox">
        <div class="">
               
            <div class="row clearfix">
                <div class="col-md-12 col-lg-12 col-xl-12">
                    <ul class="mail_list list-group list-unstyled">
                        <li class="list-group-item">
                            <div class="media">
                                <div class="pull-left">                                
                                    <div class="controls">
                                        <div class="checkbox">
                                            <input type="checkbox" id="basic_checkbox_1">
                                            <label for="basic_checkbox_1"></label>
                                        </div>
                                        <a href="" class="favourite text-muted hidden-sm-down" data-toggle="active"><i class="zmdi zmdi-star-outline"></i></a>
                                    </div>
                                    <div class="thumb hidden-sm-down m-r-20"> <img src="assets/images/xs/avatar1.jpg" class="rounded-circle" alt=""> </div>
                                </div>
                                <div class="media-body">
                                    <div class="media-heading">
                                        <a href="mail-single.html" class="m-r-10 text-decoration-none">Velit a labore</a>
                                        <span class="badge bg-blue">Family</span>
                                        <small class="float-end text-muted"><time class="hidden-sm-down" datetime="2017">12:35 AM</time><i class="zmdi zmdi-attachment-alt"></i> </small>
                                    </div>
                                    <p class="msg " style="font-size: smaller;">Lorem Ipsum is simply dumm dummy text of the printing and typesetting industry. </p>
                                </div>
                            </div>
                        </li>
                        <li class="list-group-item unread">
                            <div class="media">
                                <div class="pull-left">
                                    <div class="controls">
                                        <div class="checkbox">
                                            <input type="checkbox" id="basic_checkbox_2">
                                            <label for="basic_checkbox_2"></label>
                                        </div>
                                        <a href="javascript:void(0);" class="favourite col-amber hidden-sm-down" data-toggle="active"><i class="zmdi zmdi-star"></i></a>
                                    </div>
                                    <div class="thumb hidden-sm-down m-r-20"> <img src="assets/images/xs/avatar2.jpg" class="rounded-circle" alt=""> </div>
                                </div>
                                <div class="media-body">
                                    <div class="media-heading">
                                        <a href="mail-single.html" class="m-r-10  text-decoration-none">Simply dummy text</a>
                                        <span class="badge bg-amber">Shop</span>
                                        <small class="float-end text-muted"><time class="hidden-sm-down" datetime="2017">12:35 AM</time><i class="zmdi zmdi-attachment-alt"></i> </small>
                                    </div>
                                    <p class="msg"  style="font-size: smaller;">Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>                                
                                </div>
                            </div>
                        </li>
                        <li class="list-group-item">
                            <div class="media">
                                <div class="pull-left">
                                    <div class="controls">
                                        <div class="checkbox">
                                            <input type="checkbox" id="basic_checkbox_3">
                                            <label for="basic_checkbox_3"></label>
                                        </div>
                                        <a href="javascript:void(0);" class="favourite text-muted hidden-sm-down" data-toggle="active"><i class="zmdi zmdi-star-outline"></i></a>
                                    </div>
                                    <div class="thumb hidden-sm-down m-r-20"> <img src="assets/images/xs/avatar3.jpg" class="rounded-circle" alt=""> </div>
                                </div>
                                <div class="media-body">
                                    <div class="media-heading">
                                        <a href="mail-single.html" class="m-r-10 text-decoration-none">Velit a labore</a>
                                        <span class="badge bg-red">Google</span>
                                        <small class="float-end text-muted"><time class="hidden-sm-down" datetime="2017">12:35 AM</time><i class="zmdi zmdi-attachment-alt"></i> </small>
                                    </div>
                                    <p class="msg"  style="font-size: smaller;"> If you are going to use a passage of Lorem Ipsum, you need to be sure</p>                                
                                </div>
                            </div>
                        </li>
                        <li class="list-group-item">
                            <div class="media">
                                <div class="pull-left">                                
                                    <div class="controls">
                                        <div class="checkbox">
                                            <input type="checkbox" id="basic_checkbox_1">
                                            <label for="basic_checkbox_1"></label>
                                        </div>
                                        <a href="javascript:void(0);" class="favourite text-muted hidden-sm-down" data-toggle="active"><i class="zmdi zmdi-star-outline"></i></a>
                                    </div>
                                    <div class="thumb hidden-sm-down m-r-20"> <img src="assets/images/xs/avatar1.jpg" class="rounded-circle" alt=""> </div>
                                </div>
                                <div class="media-body">
                                    <div class="media-heading">
                                        <a href="mail-single.html" class="m-r-10 text-decoration-none">Velit a labore</a>
                                        <span class="badge bg-blue">Family</span>
                                        <small class="float-end text-muted"><time class="hidden-sm-down" datetime="2017">12:35 AM</time><i class="zmdi zmdi-attachment-alt"></i> </small>
                                    </div>
                                    <p class="msg" style="font-size: smaller;">Lorem Ipsum is simply dumm dummy text of the printing and typesetting industry. </p>
                                </div>
                            </div>
                        </li>
                        <li class="list-group-item unread">
                            <div class="media">
                                <div class="pull-left">
                                    <div class="controls">
                                        <div class="checkbox">
                                            <input type="checkbox" id="basic_checkbox_2">
                                            <label for="basic_checkbox_2"></label>
                                        </div>
                                        <a href="javascript:void(0);" class="favourite col-amber hidden-sm-down" data-toggle="active"><i class="zmdi zmdi-star"></i></a>
                                    </div>
                                    <div class="thumb hidden-sm-down m-r-20"> <img src="assets/images/xs/avatar2.jpg" class="rounded-circle" alt=""> </div>
                                </div>
                                <div class="media-body">
                                    <div class="media-heading">
                                        <a href="mail-single.html" class="m-r-10  text-decoration-none">Simply dummy text</a>
                                        <span class="badge bg-amber">Shop</span>
                                        <small class="float-end text-muted"><time class="hidden-sm-down" datetime="2017">12:35 AM</time><i class="zmdi zmdi-attachment-alt"></i> </small>
                                    </div>
                                    <p class="msg"  style="font-size: smaller;">Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>                                
                                </div>
                            </div>
                        </li>
                        <li class="list-group-item">
                            <div class="media">
                                <div class="pull-left">
                                    <div class="controls">
                                        <div class="checkbox">
                                            <input type="checkbox" id="basic_checkbox_3">
                                            <label for="basic_checkbox_3"></label>
                                        </div>
                                        <a href="javascript:void(0);" class="favourite text-muted hidden-sm-down" data-toggle="active"><i class="zmdi zmdi-star-outline"></i></a>
                                    </div>
                                    <div class="thumb hidden-sm-down m-r-20"> <img src="assets/images/xs/avatar3.jpg" class="rounded-circle" alt=""> </div>
                                </div>
                                <div class="media-body">
                                    <div class="media-heading">
                                        <a href="mail-single.html" class="m-r-10 text-decoration-none">Velit a labore</a>
                                        <span class="badge bg-red">Google</span>
                                        <small class="float-end text-muted"><time class="hidden-sm-down" datetime="2017">12:35 AM</time><i class="zmdi zmdi-attachment-alt"></i> </small>
                                    </div>
                                    <p class="msg"  style="font-size: smaller;"> If you are going to use a passage of Lorem Ipsum, you need to be sure</p>                                
                                </div>
                            </div>
                        </li>
                        <li class="list-group-item unread">
                            <div class="media">
                                <div class="pull-left">
                                    <div class="controls">
                                        <div class="checkbox">
                                            <input type="checkbox" id="basic_checkbox_2">
                                            <label for="basic_checkbox_2"></label>
                                        </div>
                                        <a href="javascript:void(0);" class="favourite col-amber hidden-sm-down" data-toggle="active"><i class="zmdi zmdi-star"></i></a>
                                    </div>
                                    <div class="thumb hidden-sm-down m-r-20"> <img src="assets/images/xs/avatar2.jpg" class="rounded-circle" alt=""> </div>
                                </div>
                                <div class="media-body">
                                    <div class="media-heading">
                                        <a href="mail-single.html" class="m-r-10  text-decoration-none">Simply dummy text</a>
                                        <span class="badge bg-amber">Shop</span>
                                        <small class="float-end text-muted"><time class="hidden-sm-down" datetime="2017">12:35 AM</time><i class="zmdi zmdi-attachment-alt"></i> </small>
                                    </div>
                                    <p class="msg"  style="font-size: smaller;">Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>                                
                                </div>
                            </div>
                        </li>
                        <li class="list-group-item">
                            <div class="media">
                                <div class="pull-left">
                                    <div class="controls">
                                        <div class="checkbox">
                                            <input type="checkbox" id="basic_checkbox_3">
                                            <label for="basic_checkbox_3"></label>
                                        </div>
                                        <a href="javascript:void(0);" class="favourite text-muted hidden-sm-down" data-toggle="active"><i class="zmdi zmdi-star-outline"></i></a>
                                    </div>
                                    <div class="thumb hidden-sm-down m-r-20"> <img src="assets/images/xs/avatar3.jpg" class="rounded-circle" alt=""> </div>
                                </div>
                                <div class="media-body">
                                    <div class="media-heading">
                                        <a href="mail-single.html" class="m-r-10 text-decoration-none">Velit a labore</a>
                                        <span class="badge bg-red">Google</span>
                                        <small class="float-end text-muted"><time class="hidden-sm-down" datetime="2017">12:35 AM</time><i class="zmdi zmdi-attachment-alt"></i> </small>
                                    </div>
                                    <p class="msg"  style="font-size: smaller;"> If you are going to use a passage of Lorem Ipsum, you need to be sure</p>                                
                                </div>
                            </div>
                        </li>
                    </ul>
                    <!-- <div class="card m-t-5">
                        <div class="body">
                            <ul class="pagination pagination-primary m-b-0">
                                <li class="page-item"><a class="page-link" href="javascript:void(0);">Previous</a></li>
                                <li class="page-item"><a class="page-link" href="javascript:void(0);">1</a></li>
                                <li class="page-item active"><a class="page-link" href="javascript:void(0);">2</a></li>
                                <li class="page-item"><a class="page-link" href="javascript:void(0);">3</a></li>
                                <li class="page-item"><a class="page-link" href="javascript:void(0);">Next</a></li>
                            </ul>
                        </div>
                    </div> -->
                </div>
            </div>
        </div>
    </section>
     </div>