<div class="animate__animated animate__fadeIn my-5 pt-3" >
   
    <div class="card mb-5">
      <div class="card-body carousel ">
  
    <p class="text-center" style="font-size: smaller;"><span style="color:red;">Note</span>: For better image display and optimization, 1920px by 1080px sized images are preferrable</p>
        <div class="row ">
            <div id="carouselExampleIndicators" class="carousel slide " data-bs-ride="carousel">
              <div class="carousel-indicators">
                <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
                <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
                <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
              </div>
              <div class="carousel-inner">
                <div class="carousel-item active">
                  
          <!-- <h4 class=" animate__animated animate__fadeIn "style="animation-delay: 2s">Learn To Face Difficulty</h4>
          <div class="animated-area">
                  <h1 class="slider-title animate__animated animate__fadeIn ">Lorem ipsum dolor sit amet consectetur adipisicing elit.</h1>
                  <a href="#" class="slider-buttton">Start Projects</a>
          </div> -->
                </div>
                <div class="carousel-item">
                </div>
                <div class="carousel-item">
                </div>
              </div>
              <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
              </button>
              <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
              </button>
            </div>
          
        </div>
    
     
      </div>
      
    </div>
    >

  <div class="card ">
    <div class="card-header">
      <div class="row ">
        <div class="col-4">
          <i class="fa fa-align-justify float-start "></i>
        </div>
        <div class="col-4">
          <div class="text-center">
        Carousel 
      </div>
        </div>
        <div class="col-4">
             <a data-bs-toggle="modal" data-bs-target="#AddCarouselForm">
        <i class="fa fa-plus float-end mx-2"></i>
      </a>
        </div>
  
      </div>
    
    </div>
        <div class="card-body">
    <table class="table  table-striped  table-hover shadow">
    <thead>
      <tr>
        <th class="col-md-4">Image</th>
        <th class="col-md-4">Description</th>
        <th class="col-md-4">Action</th>
  
      </tr>
  
    </thead>
    <tbody>
      <tr *ngFor='let carousel of CarouselList | paginate: { itemsPerPage: 5, currentPage: p }'>
        <td class="col-md-4">
          <img [src]="carousel.image" alt=""style="width:80px;height:50px"></td>
        <td class="col-md-4">{{carousel.description}}</td>
        <td class="col-md-4 ">
          <span class="fa fa-edit mx-2" data-bs-toggle="modal" data-bs-target="#EditCarouselForm"  (click)="getCarouselbyid(carousel.id)"></span>
        <span><i class="fa fa-trash-o" (click)='deleteCarousel(carousel.id)' ></i></span>
      </td>
  
      </tr>
     
  
    </tbody>
  </table> 
  
  <div class="row py-2">
    <pagination-controls class=" text-center" (pageChange)="p = $event"></pagination-controls>
  </div>
        </div>
  
   
  
   
  
  
  </div>
  </div>
 
  <!-- Add Carousel -->
  
  <div class="modal fade 	" id="AddCarouselForm" tabindex="-1" aria-labelledby="exampleModalLabel"
  aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Create a Carousel</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal"(click)="clearform()" aria-label="Close"></button>
      </div>
      <div class="modal-body">
         <form action="" method="post" [formGroup]="Form" (ngSubmit)='SubmitInfo()'> 
          <div class="imgPreview mb-2">
            <img [src]="imageData" alt="" class="image">
          </div>
           <div class="form-group form-group-sm my-2">
           <input type="file" class="file-upload"  (change)='onFileSelect($event)' #fileUpload >
   
         </div> 
   
         <div class="form-group row my-2">
           <div class="col-md-12">
  
          <textarea name="" formControlName="description" class="px-3" rows="4" placeholder="Description......" ></textarea>
           </div>
         </div>
       <button type="submit" style="color: goldenrod; "[disabled]='!Form.valid' class="btn btn-dark" data-bs-dismiss="modal" aria-label="Close">
        <div class="spinner-border spinner-border-sm text-warning mr-2" *ngIf="loading"><span class="sr-only">loading...</span></div><span style="color: goldenrod;">Submit</span> 
  
      </button>
        </form> 
      </div>
  
    </div>
  </div>
  </div>
  
  
  <!-- Edit Carousel -->
    <div class="modal fade 	" id="EditCarouselForm" tabindex="-1" aria-labelledby="exampleModalLabel"
    aria-hidden="true"> 
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Edit Carousel</h5>
          <button type="button" class="btn-close" (click)="clearform()" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <form action="" method="post" class="form-horizontal bg-light " [formGroup]='EditForm' (ngSubmit)='UpdateCarousel()'>
  
          <div class="imgPreview">
            <img [src]="imageData" alt="" class="image">
          </div>
  
            <div class="form-group row my-2">
           <input type="file" class="file-upload" (change)='onFileSelect($event)'>
            </div>
  
            <div class="form-group row my-2">
              <div class="col-md-12">
  
                <textarea name="" formControlName="description" class="px-3" rows="4" placeholder="Description......" ></textarea>
  
              </div>
            </div>
            <button type="submit"  class="btn btn-dark"
              data-bs-dismiss="modal" aria-label="Close" style="color: goldenrod;">
              <div class="spinner-border spinner-border-sm text-warning mr-2" *ngIf="loading"><span class="sr-only">loading...</span></div><span style="color: goldenrod;">Update</span> 
  
            </button>
          </form>
        </div>
  
      </div>
    </div>
  </div>