<div class="animate__animated animate__fadeIn mt-5 pt-5">

  <h1 class="text-center mb-5">Contacts Section</h1>


  <div class="row">
    <div class="col-xl-4 col-sm-6 mb-xl-0 mb-4">
      <div class="card">
        <div class="card-body p-3">
          <div class="row">
            <div class="col-8">
              <div class="numbers">
                <p class="text-sm mb-2 text-capitalize font-weight-bold">Our Location</p>
                <div class="mb-5" *ngFor="let location of LocationList">
                  <h5 class="font-weight-bolder ">
                    {{location.address}}

                  </h5>
                  <span class="fa fa-edit" (click)="EditactivateAddress(location.id)"></span>
                  <span class="fa fa-trash-o mx-2" (click)="deleteAddress(location.id)"></span>

                </div>

                <button class="btn btn-sm my-3 bg-gradient-success rounded "  (click)="activateAddress()" >Add
                  Location</button>

              </div>
            </div>
            <div class="col-4 text-end">
              <div class="icon icon-shape bg-gradient-primary shadow text-center border-radius-md">
                <i class="bx fa fa-map-marker text-lg opacity-10" aria-hidden="true"></i>
              </div>
            </div>
          </div>
          <div class="animate__animated animate__fadeIn mt-3" *ngIf="activeAddress" style="animation-duration:2s ; animation-delay: 0.5s;">
            <form action="" method="post" [formGroup]=' AddressForm' (ngSubmit)=" SubmitAddress()">


              <div class="mb-3">
                <input class="form-control" id="address" formControlName="address" type="text"
                  placeholder="Enter your Address">
              </div>


              <div class="form-group float-end my-3">
                <button type="submit" class="btn btn-light btn-sm" >
                  Submit

                </button>
              </div>

            </form>


          </div>
          <div class="animate__animated animate__fadeIn mt-3" *ngIf="EditAddress">
   <form action="" method="post" [formGroup]=' EditAddressForm' (click)=" UpdateAddress()"  > 
         
    
                <div class="mb-3">
                  <input class="form-control" id="address" formControlName="address"type="text" placeholder="Enter your Address" >
              </div>
      
                
                <div class="form-group float-end my-3">
                   <button type="submit"  class="btn btn-light btn-sm" data-bs-dismiss="modal" aria-label="Close">
                     Update
          
              </button>
                </div>
              
                </form>
</div>
        </div>
      </div>
    </div>
    <div class="col-xl-4 col-sm-6 mb-xl-0 mb-4">
      <div class="card">
        <div class="card-body p-3">
          <div class="row">
            <div class="col-8">
              <div class="numbers">
                <p class="text-sm mb-0 text-capitalize font-weight-bold">Email</p>
                <div *ngFor="let email of EmailList" class="mb-5">
                  <p class="font-weight-bolder">
                    {{email.email}}
                  </p>
                  <span class="fa fa-edit mr-2" (click)="EditactivateEmail(email.id)"></span>
                  <span class="fa fa-trash-o mx-2" (click)="deleteEmail(email.id)"></span>
                </div>

                <button class="btn btn-sm my-2 bg-gradient-info rounded" 
                  (click)="activateEmail()">Add Email</button>

              </div>
            </div>
            <div class="col-4 text-end">
              <div class="icon icon-shape bg-gradient-primary shadow text-center border-radius-md">
                <i class="bx fa fa-envelope text-lg opacity-10" aria-hidden="true"></i>
              </div>
            </div>
            <div class="animate__animated animate__fadeIn mt-2" *ngIf="activeEmail">
              <form action="" method="post" [formGroup]=' EmailForm' (ngSubmit)="  SubmitEmail()">

                <div class="mb-3">
                  <input class="form-control" id="email" formControlName="email" type="text"
                    placeholder="Enter your email">
                </div>



                <div class="form-group float-end my-3">
                  <button type="submit" class="btn btn-light" data-bs-dismiss="modal" aria-label="Close">
                    Submit

                  </button>
                </div>

              </form>

              <div class="animate__animated animate__fadeIn mt-3" *ngIf="EditEmail">
                <form action="" method="post" [formGroup]=' EditEmailForm' (click)=" UpdateEmail()"  > 
                      
                 
                             <div class="mb-3">
                               <input class="form-control" id="email" formControlName="email"type="text" placeholder="Enter your Email" >
                           </div>
                   
                             
                             <div class="form-group float-end my-3">
                                <button type="submit"  class="btn btn-light btn-sm" data-bs-dismiss="modal" aria-label="Close">
                                  Update
                       
                           </button>
                             </div>
                           
                             </form>
             </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-xl-4 col-sm-6 mb-xl-0 mb-4">
      <div class="card">
        <div class="card-body p-3">
          <div class="row">
            <div class="col-8">
              <div class="numbers">
                <p class="text-sm mb-3 text-capitalize font-weight-bold">Phone Numbers</p>
                <div class="mb-5" *ngFor="let contact of PhoneList">
                  <p class="font-weight-bolder ">
                    {{contact.phone}}
                  </p>
                  <span class="fa fa-edit mr-2" (click)="Editactivatephone(contact.id)"></span>
                  <span class="fa fa-trash-o mx-2" (click)="deletePhone(contact.id)"></span>
                </div>

                <button class="btn btn-sm my-3 bg-gradient-secondary rounded" (click)="activatephone()">Add
                  Phone</button>

              </div>
            </div>
            <div class="col-4 text-end">
              <div class="icon icon-shape bg-gradient-primary shadow text-center border-radius-md">
                <i class="bx fa fa-phone text-lg opacity-10" aria-hidden="true"></i>
              </div>
            </div>
            <div class="animate__animated animate__fadeIn mt-3" *ngIf="activePhone">
              <form action="" method="post" [formGroup]='PhoneForm' (ngSubmit)="  SubmitPhone()">


                <div class="mb-3">
                  <input class="form-control" id="phone" formControlName="phone" type="text"
                    placeholder="Enter your phone">
                </div>


                <div class="form-group float-end my-3">
                  <button type="submit" class="btn btn-light" data-bs-dismiss="modal" aria-label="Close">
                    Submit

                  </button>
                </div>

              </form>
            </div>
            <div class="animate__animated animate__fadeIn mt-3" *ngIf="EditPhone">
              <form action="" method="post" [formGroup]=' EditPhoneForm' (click)=" UpdatePhone()"  > 
                    
               
                           <div class="mb-3">
                             <input class="form-control" id="phone" formControlName="phone"type="text" placeholder="Enter your Phone" >
                         </div>
                 
                           
                           <div class="form-group float-end my-3">
                              <button type="submit"  class="btn btn-light btn-sm" data-bs-dismiss="modal" aria-label="Close">
                                Update
                     
                         </button>
                           </div>
                         
                           </form>
           </div>
          </div>
        </div>
      </div>
    </div>

  </div>
</div>